.listing-index-item {
  // border: 1px solid black;
  width: 22%;
  height: auto;
  display: flex;
  margin-top: 20px;
  // padding: 8px;
  flex-direction: column;

}

.splash-main {
  background-image: image-url('mystic.jpeg');
  height: 600px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.caption {
  color: white;
  width: 100%;
  align-self: center;
  font-size: 32px;
  font-style: inherit;
  font-weight: 700;
}

.ul-wrapper {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px 0px 32px 0px;
  justify-content: space-around;
  padding-bottom: 30px;
}

.spotlight-address {
  color: rgb(165, 41, 3);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.listing-intro {
  display: flex;
  width: 100%;
  margin: 32px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: #484848;
}

.listing-index-container {
  display: flex;
  height: auto;
}

// .ul-wrapper li:nth-child(3n-1) {
//   // margin: 20px 20px;
//   width: 28%;
// }

.item-pic-box {
  width: 100%;
  height: 200px;
  overflow: hidden;
  // border: 1px solid black;
}

.spotlight-pic {
  min-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

.item-name {
  padding-top: 8px;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
}
