.show-listing-page {
  display: block;
  min-width: 100%;
  height: 800px;
  overflow: hidden;
}

.show-splash-pic {
  // display: block;
  min-width: 100%;
  max-height: 50%;
  overflow: hidden;
}

.show-pic {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.show-splash-desc {
  display: block;

}

.below-show-pic {
  padding-left: 24px;
  padding-right: 24px;
  min-width: 70%;
  height: 400px;
  margin: 25px 35px 0px 35px;
  display: flex;
  align-self: center;
  flex-direction: column;

}

.show-name {
  font-size: 24px;
  font-weight: 300;
  color: inherit;
  line-height: 22px;
}

.top-desc {
  display: flex;
  margin-bottom: 30px;
}

.bottom-desc {
  display: flex;
}

.desc-blurb {
  overflow-wrap: break-word;
  color: #484848;
  font-size: 17px;
  letter-spacing: 0.2px;
}

.bottom-desc {

}
