.avatar {
  width: 35px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #DBDBDB;
}

.logged-in-nav {
  display: flex;
}

.none-user-nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
}

.logo {
  background-image: image-url('favicon.png');
  height: 40px;
  width: 40px;
  object-fit: scale-down;
  background-size: contain;
  position: absolute;
  left: 15px;
}

.nav-buttons {
  padding: 0px 10px;
  display: flex;
  height: 40px;
  align-items: center;
}

.nav-buttons-avatar {
  padding: 0px 10px;
  display: flex;
  height: 40px;
  align-items: center;
}

.nav-buttons-greet {
  padding: 0px 10px;
  display: flex;
  height: 40px;
  align-items: center;
}

.nav-logo {
  align-self: center;

}

.nav-buttons:hover {
  cursor: pointer;
  // background-color: red;
}

.header-button:hover {
  cursor: pointer;
  // background-color: red;
}

.none-user-nav-right {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.nav-links {
  text-decoration: none;
}

.login-form-container {
  z-index: 2;
}

.become-host {
  text-decoration: none;
}

.all-nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footer {
  position:fixed;
  left:0px;
  display: flex;
  bottom:0px;
  height:30px;
  width:100%;
  margin-top: 20px;
  background-color: #DBDBDB;
  justify-content: center;
}

.footer-links {
  padding: 8px 0px 8px 0px;
}
