.reviews {
  margin-top: 30px;

}

.reviews-counter {
  font-size: 28px;
  font-weight: 700;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-index-item {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
}

.review-author-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #DBDBDB;
  object-fit: scale-down;
  background-size: contain;
}

.author {
  flex-direction: row;
  display: flex;
}
.review-author {
  margin-left: 12px;
  font-size: 17px;
}

.blurb-container {
  flex-direction: column;
}

.created-date {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 14px;
}

.review-body {
  font-size: 17px;
  letter-spacing: 0.2px;
  font-weight: 300;
  line-height: 22px;
}
