.reviews {
  margin-top: 30px;

}

.reviews-counter {
  font-size: 28px;
  font-weight: 700;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-index-item {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
}
