.logged-in-nav {
  display: flex;
}

.none-user-nav {
  background-color: cyan;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid black;
}

.logo {
  background-image: url('logo.png');
  height: 40px;
  width: 40px;
}

.nav-buttons {
  padding: 0px 10px;
  display: flex;
  height: 40px;
  align-items: center;
}

.nav-logo {
  align-self: center;

}

.nav-buttons:hover {
  cursor: pointer;
  background-color: red;
}

.header-button:hover {
  cursor: pointer;
  background-color: red;
}

.none-user-nav-right {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.nav-links {
  text-decoration: none;
}

.header-button {
  border: none;
  background-color: cyan;
  // font-size: 14px;
  // font-style: inherit;
}
